@font-face { font-family: Martel; src: url('../../fonts/martel/Martel-Regular.ttf'); }
@font-face { font-family: Martel; font-style: italic; src: url('../../fonts/martel/Martel-Italic.ttf'); }
@font-face { font-family: Martel; font-weight: bold; src: url('../../fonts/martel/Martel-Bold.ttf'); }

@font-face { font-family: Montserrat; src: url('../../fonts/montserrat/Montserrat-Medium.ttf'); }
@font-face { font-family: Montserrat; font-style: italic; src: url('../../fonts/montserrat/Montserrat-Italic.ttf'); }
@font-face { font-family: Montserrat; font-weight: bold; src: url('../../fonts/montserrat/Montserrat-Bold.ttf'); }

body {
    font-family: Montserrat;
}

blockquote {
    margin: 0;
    padding-left: 1em;
    border: 0px solid black;
    border-color: #aaa;
    border-left-width: 5px;
    font-style: italic;
}
